* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #050b14;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  color: #6aa9ff;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.hire-btn {
  background: #4da3ff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 140px 60px;
  gap: 80px;

  background:
    linear-gradient(rgba(5, 11, 20, 0.88), rgba(5, 11, 20, 0.88)),
    url("assets/bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-left,
.hero-right {
  flex: 1;
}

.hero-left {
  display: flex;
  justify-content: center;
}

.hero-right {
  max-width: 650px;
}



.hero-left img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #4da3ff;
}


.hero-right h4 {
  color: #4da3ff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero-right h1 {
  font-size: 56px;
  margin-bottom: 20px;
}

.hero-right p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 35px;
}


/* BUTTONS */
.buttons a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  border: 1px solid #4da3ff;
}

.buttons .cv {
  background: #4da3ff;
  color: black;
  font-weight: bold;
}
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 160px 20px;
  }

  .hero-right {
    max-width: 100%;
  }

  .hero-right h1 {
    font-size: 40px;
  }

  .hero-left img {
    width: 200px;
    height: 200px;
  }
}

